.ipynb_checkpoints
.DS_Store
.vscode
logs/
/models/
/experiment_data/ansdata.BSON
/experiment_data
/savedmodels
/datasets/
/test/testscratchpaper.jl
*.code-workspace
/datasets/
test/testscratchpaper.jl
